body {
  margin: 0px;
}

canvas {
  background-image: url("https://img.freepik.com/premium-photo/fairy-tale-portal-with-pink-lights-road-side-forest_76964-1612.jpg?w=2000")
}

img {
  display: none;
}
